body {
  font-family: "Open Sans";
  background-color: #8d6b68;
  font-size: 0.8em;
}
h1,
h2,
h3,
.h1,
.h2,
.h3 {
  font-family: "Montserrat";
}
.list-group-item + .list-group-item,
.list-group-item-action,
.list-group-item-action:first-child,
.list-group-item-action:last-child {
  background-color: #baa3a1;
  line-height: 1px;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 10px;
  border: 1px solid #eb701e;
  box-shadow: 0 0 3px #eb701e;
  transition: font-weight 0.5s linear, background-color, transform 0.5s linear;
}
.list-group-item + .list-group-item:hover,
.list-group-item-action:hover,
.list-group-item-action:first-child:hover,
.list-group-item-action:last-child:hover {
  background-color: #cbbab9;
  transform: scale(1.1);
  font-weight: 500;
}
.logo {
  max-width: 100px;
}
